<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Registre de Temps{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <br>
        <div class="container-md" >
          <h1>Registre de temps</h1>
          <div class="table-responsive">
            <table class="table" style="font-size: 15pt;">
              <thead>
                <tr>
                  <th class="d-none d-sm-block">#</th>
                  <th scope="col">Tasca</th>
                  <th scope="col">Temps dedicat</th>
                  <th scope="col">Accions</th>
                </th>
              </thead>
              <tbody>
                {% for task in tasks %}
                  <tr>
                    <td class="d-none d-sm-block"><p>{{task.id}}</p></td>
                    <td><p>{{task.name}}</p></td>
                    <td><h4><span class="badge text-bg-info">{{task.elapsedTime|date("%i'%s''")}}</span></h4></td>
                    <td><button type="button" class="btn btn-success">Seguir <i class="bi bi-play-fill" style="font-size:1em"></i></button></td>
                  </tr>
                {% endfor %}
                <tr>
            </table>
          </div>       
        </div>
    </body>
</html>
